*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
  background: #7B7771;
}

img {
  display: block;
}

.Achtergrond{
  max-width: 100%;
  height: auto;
  position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}


.Background{
  max-width: 100%;
  height: auto;
  position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}


h1{
    font-size: 200%;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    width: 60vw;
    padding: 20px;

}

.Zoekbar{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
}

.topnav {
    width: 80vw;
    margin: 0 auto;
    background-color: #535353;
    overflow: auto;
    border: white solid 1px;
    font-size: 10px;
} 
  

.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;  
    background-color: #535353;  
}


  
.topnav a:hover {
    
    color: rgb(255, 255, 255);
}

.Openingstijden-content :hover{
    border-bottom: white solid 1px;
}
  

.topnav a.active {
   
    color: 333(0, 0, 0);
}


  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
  
li a, .Openingstijden {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  time a:hover, .Tijden:hover .Openingstijden {
    background-color: #757575;
}
  
time.Tijden {
    display: inline-block;
}
  
.Openingstijden-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

  .Openingstijden-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  

  .Tijden:hover .Openingstijden-content {
    display: block;
}